body, html {
  padding: 0 !important;
  margin: 0 !important;
}

#line-style {
  float: right;
  top: 40px;
}

.fixed {
  position: fixed;
  left: 0;
  top: 0;
}

.layer-control {
  position: relative;
  z-index: 1;
}

.layer-top {
  z-index: 0;
}

.layer-middle {
  z-index: -1;
}

.layer-bottom {
  z-index: -2;
}