body, html {
    padding: 0 !important;
    margin: 0 !important;
}

#controls {
    position: relative;
    float: right;
    display: flex;
    flex-direction: column;
    background: lightblue;
    padding: 15px;
    margin: 10px;
    top: 40px;
    border-radius: 10px;
}

.fixed {
    position: fixed;
    left: 0;
    top: 0;
}

.layer-control {
    z-index: 1;
}

.layer-top {
    z-index: 0;
}

.layer-middle {
    z-index: -1;
}

.layer-bottom {
    z-index: -2;
}